* {
    margin: 0px;
    padding: 0px;
}

h1 {
    width:100%;
    text-align: center;
}

div {
    display:flex;
    justify-content:space-around;
    align-items:center;
}

#random_image {
    height: 50%;
    width: 50%;
}